* {
  font-family: "Inter", sans-serif !important;
}

/* signup div - on error it gets shown and gets disable automatically

/* Custom transition classes */
.transition-opacity {
  transition: opacity 0.5s ease;
}

.transition-transform {
  transition: transform 0.5s ease;
}

/* For smooth sliding effect */
.translate-y-2 {
  transform: translateY(20px); /* Move the error message down initially */
}

.translate-y-0 {
  transform: translateY(0); /* Slide the error message up when visible */
}

/* For Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* For Internet Explorer */
input[type="number"]::-ms-clear {
  display: none;
}
